## Ignore data
*.dtd
*.xml*
*.json
*.zip
*.bak
*.rar
*.csv

## Ignore Images
*.jpg
*.jpeg
*.jpe
*.png
*.raw
*.jif
*.svg
*.svgz


## Ignore jupyter checkpoints
*ipynb_checkpoints/

## Ignore models
*.pkl

## Ignore folders
/periodicals
